PORT=3000
CATALOG_SERVICE_URL=http://localhost:3001
INVENTORY_SERVICE_URL=http://localhost:3002
SALES_SERVICE_URL=http://localhost:3003
PURCHASES_SERVICE_URL=http://localhost:3004
PAYMENTS_SERVICE_URL=http://localhost:3005
BILLING_SERVICE_URL=http://localhost:3006
OPERATIONS_SERVICE_URL=http://localhost:3007
USERS_SERVICE_URL=http://localhost:3008
